.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 20px;
  max-width: 300px;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .container {
    margin-left: 20px;
    margin-top: 0;
  }
}

.container:hover {
  transform: scale(1.1);
}

.container h2 {
  margin: 0;
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
}

.container p {
  margin: 0;
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
}
