.container {
  margin: 50px 0;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.127);
  padding-top: 5px;
}

.container:hover {
  transform: scale(1.05);
}

.container h2 {
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

.container p {
  margin: 0;
  margin-bottom: 10px;
  color: rgb(245, 196, 1);
  font-size: 14px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.linkContainer {
  font-size: 14px;
  color: orange;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.697);
  padding: 2px;
  text-align: right;
}

.link @media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
}
