.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(242, 242, 242);
  color: rgb(20, 20, 20);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
