.article {
  margin-top: 100px;
  text-shadow: 0 0 20px rgba(202, 202, 202, 0.914);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.843);
  padding: 50px;
  margin-bottom: 10px;
}

.container {
  font-size: 20px;
  margin-top: 100px;
  color: yellow;
}
