body,
html {
  overflow-x: hidden;
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  background: #fa674d;
  /* box-shadow: -405px 0 0 400px #605e5c; */
  border-radius: 50%;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: #7f7f7f;
}

input.blue[type="range"]::-webkit-slider-thumb {
  background: #ffffff;
  border: 2px solid #1b214d;
}

input.gray[type="range"]::-webkit-slider-thumb {
  background: #ffffff;
  border: 2px solid #bababa;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: #7f7f7f;
}

/* input[type='checkbox'] {
	backgroundColor: '#ff0000';
	border: 0;
} */

h1 {
  @apply text-blue-900;
}
body {
  @apply text-blue-900;
}

@layer utilities {
  .border-white {
    border-color: #fff;
  }

  .shadow-bottom {
    box-shadow: 0 5px 5px -5px #e6e6e6;
  }

  .shadow-top {
    box-shadow: 0 -5px 5px -5px #e6e6e6;
  }
}
